.display-flex{
    display: flex;
    justify-content: space-between;
}

.home-body div:nth-child(2){
    padding-top: 0;
}

.home-header img{
    width: 100%;
}

.home-product-list{
    padding: 70px 0;
}

.product-title-header{
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 20px;
}

.fixed-position{
    padding-left: 40px;
}

.item-details{
    position: relative;
}

.item-details .item-image{
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.home-product-list ul li{
    padding-right: 30px;
}

.item-image button{
    position: absolute;
    width: 100px;
    height: 50px;
    z-index: 2;
    top: calc(50% - 25px);
    right: calc(50% - 50px);
}

.item-details .item-image .preview-btn{
    display: none;
}

.item-details .item-image .preview-btn:hover{
    cursor: pointer;
}

.item-details:hover .item-image .preview-btn{
    display: block;
    opacity: .9;
}

.item-details .display-original{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 30px;
    display: flex;
    align-items: center;
}