<div class="container">
  <div class="left-side">
    <div class="container-left-side">
      <div class="necessary-icon">
        <div class="container-shopping-cart">
          <a href="#">
            <span class="material-icons">shopping_cart</span>
            <span>0</span>
          </a>
        </div>
        <div>
          <a href="#"><span class="material-icons">person</span></a>
        </div>
      </div>
      <div class="run-logo">
        <img src="../assets/img/logo.png" alt="" />
      </div>
      <div class="menu-shoes-options hover-option">
        <ul>
          <li><a href="#">Men</a></li>
          <li><a href="#">Women</a></li>
          <li><a href="#">New Arrivals</a></li>
          <li><a href="#">Top Sellers</a></li>
        </ul>
      </div>
      <div class="menu-basic-options hover-option">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="menu-search-form">
        <input type="text" id="search-bar" />
        <button class="search-icon">
          <span class="material-icons">search</span>
        </button>
      </div>
      <div class="menu-social-network-icon">
        <ul>
          <li><a href="#" title="Follow our Facebook"><fa-icon [icon]="faFacebook"></fa-icon></a></li>
          <li><a href="#" title="Follow our Youtube channel"><fa-icon [icon]="faYouTube"></fa-icon></a></li>
          <li><a href="#" title="Follow our Instagram"><fa-icon [icon]="faInstagram"></fa-icon></a></li>
        </ul>
      </div>
    </div>
    
  </div>
  <div class="right-side">
    <img src="../assets/img/banner.png" alt="" class="banner">
    <ul *ngFor="let item of shoesList">
      <li>item</li>
    </ul>
  </div>
  <div class="fixed-cart">
    <button>
      <span class="material-icons">shopping_cart</span>
      <span>0 Items</span>
    </button>
  </div>
</div>