<div class="login-container">
    <h2 class="form-signin-heading">LOGIN</h2>
    <form action="POST" class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <div class="display-flex">
            <label for="username">Username/Email address</label>
            <input type="text" id="username" ngModel placeholder="Username or Email address" required autofocus>
        </div>
        <div class="display-flex">
            <label for="password">Password</label>
            <input type="password" id="password" ngModel placeholder="Password" required>
        </div>
        <button type="submit">Login</button>
    </form>
</div>